[Unit]
Description = Active Directory Password Self Service tool
After = network.target

[Service]
WorkingDirectory=/opt/passwdmgr
ExecStart = /usr/bin/gunicorn --workers 3 --bind 127.0.0.1:5001 -m 007 wsgi
Restart=always

[Install]
WantedBy = multi-user.target
